extends layout

block head
    link(rel='import', href='/components/start-page-middle.html')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src="https://apis.google.com/js/client:platform.js" async defer)
    script.
        function signinCallback(authResult) {
            if (authResult['code']) {
                console.log("Success");
                console.log(authResult);
                // Hide the sign-in button now that the user is authorized, for example:
                $('#signinButton').attr('style', 'display: none');

                // Send the code to the server
                $.ajax({
                  type: 'GET',
                  url: 'http://lwm.eu01.aws.af.cm/oauth/callback/google_rest',
                  data: {
                    code: authResult['code']
                  },
                  success: function(result) {
                      console.log("Success: "+result.access_token);
                      localStorage.setItem("token", result.access_token);
                      localStorage.setItem("user", JSON.stringify(result.user));
                      window.location="/home";
                  },
                  failure: function(result) {
                    console.log("Fail: "+result);
                  },
                  processData: true
                });
            } else {
                console.log("Error");
                // There was an error.
            }
        }

        //- data-clientid="608412075734-g1rs52is4nku7k5s7g3va1fnv74inidi.apps.googleusercontent.com"

block content
    span#signinButton(class="animated bounceInDown delayed2_25")
        span.g-signin(
        data-callback="signinCallback"
        data-clientid="608412075734-fqe6562e123af87gs7udns7pv3blv7p5.apps.googleusercontent.com"
        data-cookiepolicy="single_host_origin",
        data-accesstype=offline,
        data-scope="https://www.googleapis.com/auth/plus.login")

    start-page-middle#middle
